.cta {
  border-radius: 0.375rem;
  --tw-bg-opacity: 1;
  background-color: rgb(125 12 193 / var(--tw-bg-opacity));
  padding: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(251 243 255 / var(--tw-text-opacity));
}

.cta.dark {
  --tw-bg-opacity: 1;
  background-color: rgb(17 20 43 / var(--tw-bg-opacity));
}

.cta.alt {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.cta.none {
  background-color: transparent;
  padding: 0px !important;
}

.cta:has(.icon) {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.cta:has(.text) {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.form-input[type="text"] {
  width: 100%;
  border-radius: 0.375rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(243 244 250 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(17 20 43 / var(--tw-bg-opacity));
  background-color: rgb(0 0 0 / 0.3);
  padding: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  border-style: solid;
  -o-border-image: linear-gradient(
      234.49deg,
      rgba(255, 255, 255, 0) -0.82%,
      rgba(255, 255, 255, 0.2) 39.83%,
      rgba(255, 255, 255, 0) 93.51%
    )
    1;
     border-image: linear-gradient(
      234.49deg,
      rgba(255, 255, 255, 0) -0.82%,
      rgba(255, 255, 255, 0.2) 39.83%,
      rgba(255, 255, 255, 0) 93.51%
    )
    1;
}

.form-group {
  display: flex;
  align-items: stretch;
  gap: 1rem;
}

.form-group .cta {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.site-header {
  position: sticky;
  top: 0px;
  z-index: 50;
  width: 100%;
  padding: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.site-header > .wrapper {
  margin: auto;
  display: flex;
  width: 100%;
  max-width: 80rem;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  /* @apply  flex items-center justify-between gap-4 p-4  w-full m-auto max-w-lg lg:max-w-[82rem] rounded-lg; */
  /* @apply backdrop-blur-md bg-white/[0.012] border-2 border-white/10 ; */
}

.site-logo {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.site-logo .logo-text {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
}

.site-nav {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 40;
  height: 100vh;
  width: 100%;
  --tw-bg-opacity: 1;
  background-color: rgb(17 20 43 / var(--tw-bg-opacity));
  /* for larger screens */
}

@media (min-width: 1024px) {
  .site-nav {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
    position: relative;
    height: auto;
    background-color: transparent;
  }
}

.site-nav.active {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
}

.site-nav .wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

@media (min-width: 1024px) {
  .site-nav .wrapper {
    justify-content: flex-end;
  }
}

.site-nav .nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 1024px) {
  .site-nav .nav-list {
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }
}

.site-nav .nav-item {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

@media (min-width: 1024px) {
  .site-nav .nav-item {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.site-nav-btn {
  position: relative;
  z-index: 50;
}

@media (min-width: 1024px) {
  .site-nav-btn {
    display: none;
  }
}

/* site sections */

.site-section {
  width: 100%;
  padding-top: 8rem;
  padding-bottom: 8rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 1024px) {
  .site-section {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.site-section > .wrapper {
  margin: auto;
  width: 100%;
  max-width: 32rem;
}

@media (min-width: 1024px) {
  .site-section > .wrapper {
    max-width: 80rem;
  }
}

.site-section > .wrapper {
  height: 100%;
}

.site-section > .wrapper.w-image,
.site-section .section-header.w-image {
  display: grid;
  align-items: center;
  gap: 4rem;
}

@media (min-width: 1024px) {
  .site-section > .wrapper.w-image,
.site-section .section-header.w-image {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .site-section > .wrapper.w-image.inverse .section-content,
.site-section .section-header.w-image.inverse .section-content {
    grid-column-start: 2;
    grid-row-start: 1;
  }
}

.site-section .section-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.site-section .section-img-cont {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.site-section .section-img-cont > * {
  z-index: 10;
  flex-grow: 1;
}

.site-section .section-img-cont::before,
.site-section .features-img-cont::before {
  content: "";
  position: absolute;
  height: 32rem;
  width: 32rem;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(105 0 173 / var(--tw-bg-opacity));
  --tw-blur: blur(18rem);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.hero-section {
  /* @apply min-h-fit h-[calc(100vh-4rem)]; */
}

@media (min-width: 768px) {
  .hero-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

@media (min-width: 1024px) {
  .hero-section {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

.hero-section > .wrapper {
  /* @apply lg:px-12; */
}

.features-section {
  position: relative;
  padding-bottom: 0px !important;
}

.features-section::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  height: 32rem;
  width: 32rem;
  max-width: 100%;
  --tw-translate-x: -50%;
  --tw-translate-y: 0%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  background-color: rgb(193 12 12 / 0.5);
  --tw-blur: blur(18rem);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.features-section > .wrapper {
  position: relative;
  overflow: hidden;
  padding-bottom: 20rem;
}

@media (min-width: 1024px) {
  .features-section > .wrapper {
    padding-bottom: 9rem;
  }
}

.features-section .features-grid {
  margin: auto;
  display: flex;
  max-width: 36rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  flex-direction: column;
  row-gap: 3rem;
}

@media (min-width: 1024px) {
  .features-section .features-grid {
    display: grid;
    max-width: none;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    -moz-column-gap: 9rem;
         column-gap: 9rem;
    row-gap: 9rem;
  }
}

.features-section .feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
}

@media (min-width: 1024px) {
  .features-section .feature-item:first-of-type {
    grid-column-start: 2;
  }

  .features-section .feature-item:nth-last-of-type(2) {
    grid-row-start: 2;
  }
}

.features-section .feature-item:last-of-type {
  grid-column-start: 3;
}

@media (min-width: 1024px) {
  .features-section .feature-item:last-of-type {
    grid-row-start: 2;
  }
}

.features-img-cont {
  position: absolute;
  bottom: 0px;
  left: 50%;
  display: flex;
  width: 100%;
  --tw-translate-x: -50%;
  --tw-translate-y: 50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  align-items: center;
  justify-content: center;
  /* @apply before:!bg-milano-red/50 before:-translate-y-24; */
}

.features-img-cont::before {
  content: var(--tw-content);
  display: none;
}

.features-img-cont {
  --tw-translate-y: 25%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.features-img-cont > img {
  z-index: 10;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@media (min-width: 1024px) {
  .features-img-cont > img {
    --tw-scale-x: 1.5;
    --tw-scale-y: 1.5;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
}

.features-img-cont .circles {
  position: absolute;
  --tw-scale-x: 3;
  --tw-scale-y: 3;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@media (min-width: 1024px) {
  .features-img-cont .circles {
    --tw-translate-y: -25%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
}

.section-group {
  position: relative;
  z-index: 40;
  border-radius: 1.5rem;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.04) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.build-section .section-img-cont img {
  padding: 2rem;
}

@media (min-width: 1024px) {
  .build-section .section-img-cont img {
    padding: 5rem;
  }
}

.build-section .section-img-cont img {
  filter: drop-shadow(165.93px 201.486px 73.088px rgba(14, 17, 37, 0.01))
    drop-shadow(105.681px 129.386px 67.162px rgba(14, 17, 37, 0.08))
    drop-shadow(59.2606px 73.0881px 56.2976px rgba(14, 17, 37, 0.29))
    drop-shadow(26.6673px 32.5933px 41.4824px rgba(14, 17, 37, 0.49))
    drop-shadow(6.91374px 7.90141px 22.7166px rgba(14, 17, 37, 0.56))
    drop-shadow(0px 0px 0px rgba(14, 17, 37, 0.57));
}

.build-section .options {
  display: grid;
  gap: 2rem;
}

@media (min-width: 1024px) {
  .build-section .options {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 6rem;
  }
}

.build-section .options .option-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.supported-languages {
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.build-section .supported-languages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

@media (min-width: 1024px) {
  .build-section .supported-languages-list {
    gap: 1.5rem;
  }
}

.partners-section > .wrapper {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.partners-section .partners-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  row-gap: 2rem;
  /* @apply grid gap-4 gap-y-8;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr)); */
}

.partners-list .partner-item {
  display: flex;
  width: 8rem;
  max-width: 20rem;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  text-align: center;
}

.cta-section .section-header {
  position: relative;
  overflow: hidden;
  border-radius: 2rem;
  --tw-bg-opacity: 1;
  background-color: rgb(125 12 193 / var(--tw-bg-opacity));
  padding: 3rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.cta-section .section-content {
  z-index: 10;
}

/* .cta-section .section-img-cont */

.cta-section .section-img-cont {
  bottom: 1.5rem;
  left: 75%;
  z-index: 0;
  height: 30rem;
  width: 30rem;
}

@media (min-width: 1024px) {
  .cta-section .section-img-cont {
    left: 5rem;
  }
}

.cta-section .section-img-cont {
  position: absolute;
}

.cta-section .section-img-cont::before {
  content: var(--tw-content);
  background-color: rgb(193 12 12 / 0.5);
}

.cta-section .section-img-cont img {
  filter: drop-shadow(213.799px 190.304px 115.122px rgba(0, 0, 0, 0.01))
    drop-shadow(119.821px 108.074px 96.3269px rgba(0, 0, 0, 0.05))
    drop-shadow(54.037px 46.9887px 72.8325px rgba(0, 0, 0, 0.09))
    drop-shadow(14.0966px 11.7472px 39.9404px rgba(0, 0, 0, 0.1))
    drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.1));
  transform: rotate(-15deg);
}

.site-footer {
  padding-bottom: 1rem;
}

.site-footer > .wrapper > section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.site-footer .logo-form-section {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3rem;
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.site-footer .links-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  border-top-width: 1px;
  border-color: rgb(243 244 250 / 0.1);
}

@media (min-width: 1024px) {
  .site-footer .links-section {
    flex-direction: row;
  }
}

.site-footer .links {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.site-footer .links-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

@media (min-width: 1024px) {
  .site-footer .links-list {
    flex-direction: row;
  }
}
