@media (-webkit-min-device-pixel-ratio: 1.25) {
  .scaleto100 {
    transform: scaleX(0.8);
  }
}

/*************small screen***********************/

@media screen and (max-width: 460px) {
  .paylogo {
    @apply col-start-1 col-end-6  pl-2 content-center;
  }

  .paynav .list-ul {
    @apply text-sm gap-2 font-normal;
  }

  .paylogo img {
    @apply max-w-none;
  }

  .first_section {
    @apply h-screen mx-auto grid grid-cols-12 text-center grid-rows-6 pt-5 gap-1.5 content-center;
  }

  .heading_section {
    @apply col-start-1  col-end-12 pl-7 break-words  row-start-1 row-end-3 animate-[simplefade_5s];
  }

  .heading_section > h1 {
    @apply text-2xl font-semibold  leading-normal;
  }

  .heading_image {
    @apply col-start-2 col-end-10 row-start-5 row-end-6 content-center animate-[simplefade_3s];
  }

  .heading_image img {
    @apply max-w-none w-60 h-52;
  }

  .planet_blur {
    @apply col-start-1 col-end-12 row-start-3 row-end-7 bg-[theme(colors[blurColor])]
    blur-[200px];
  }

  /* second section components container   */

  .second_section {
    @apply grid grid-cols-12 grid-rows-6 my-40 px-3 gap-2 h-screen;
  }

  .chain_section {
    @apply col-start-1 col-end-12  row-start-1 row-end-2 mb-8;
  }

  .chain_section > h2 {
    @apply text-3xl font-semibold;
  }

  .chain_image {
    @apply col-start-2 col-end-10 content-center row-start-6 row-end-7 transition-all ease-in duration-300;
  }
  .chain_image img {
    @apply max-w-[300px];
  }
  .img_blur {
    @apply col-start-1 col-end-12 row-start-5 row-end-7 h-full bg-[theme(colors[blurColor])]
    blur-[200px];
  }

  /* third section components container   */

  .third_section {
    @apply h-screen grid grid-cols-12 mt-96 w-full px-2 grid-rows-[repeat(6,_350px)];
  }

  .third_section_first_content {
    @apply col-start-1 col-end-12 text-center  gap-12 mb-10 row-start-1;
  }

  .third_section_second_content {
    @apply col-start-1 col-end-12 text-center gap-12 row-start-2;
  }

  .third_section_third_content {
    @apply col-start-1 col-end-12 text-center gap-12 row-start-3;
  }
  .third_section_img {
    @apply text-center col-start-1 z-0 col-end-12 row-start-4;
  }

  .flower_image_blur {
    @apply h-[300px] col-start-2 col-end-12  bg-[theme(colors[flowerBlur])] blur-[200px]
    row-start-4 row-end-4;
  }

  .overlap_flower {
    @apply grid grid-cols-12 grid-rows-[repeat(6,_2fr)] h-[500px] z-10 my-40 col-start-1 col-end-[-1] row-start-4 w-full
    px-0 border-t-2 border-t-slate-700 bg-backgroundTheme;
  }

  .build_paymaster > h2 {
    @apply text-3xl font-semibold;
  }

  .code_snapshot {
    @apply col-start-1 col-end-9  row-start-2 row-end-3  mt-20;
  }

  .code_snapshot img {
    @apply max-w-none;
  }

  .build_blur {
    @apply col-start-2 col-end-5 row-start-2 row-end-3 bg-[theme(colors[blurColor])]
    blur-[200px];
  }

  .build_paymaster {
    @apply col-start-2 col-end-10 mb-40 row-start-3  row-end-5;
  }

  .js_client_section {
    @apply hidden;
  }

  .fourth_section {
    @apply px-3 grid grid-cols-12 grid-rows-4 pt-10 mt-[400px];
  }

  .fourth_section > h4 {
    @apply text-3xl col-start-3 col-end-10 font-semibold mb-10 row-start-4 row-end-4;
  }

  .partners_logos {
    @apply w-[300px] my-0 col-start-2 mt-20 mx-auto pt-4 row-start-4 gap-10 flex justify-center flex-wrap align-middle;
  }

  /* fifth section components container   */
  .fifth_section {
    @apply h-screen grid grid-cols-12 grid-rows-[repeat(4,_2fr)] gap-2 px-2 my-auto;
  }

  .fifth_section .get_started {
    @apply col-start-3 col-end-9 row-start-3  px-3 row-end-3 mt-6 z-20;
  }

  .fifth_section > div > h5 {
    @apply text-2xl font-normal;
  }

  .fifth_section .get_started_image {
    @apply col-start-1 col-end-10 row-start-3 px-3 row-end-4;
  }

  .fifth_section .get_started_image img {
    @apply max-w-none w-72 h-80;
  }

  .subscribe_section {
    display: none;
  }

  /* footer */
  .bottom > p {
    @apply overflow-hidden col-start-3 col-end-12 row-start-[-1] mb-2 row-end-[-1];
  }
  .bottom ul {
    @apply flex flex-col col-start-5 col-end-8 mb-2 list-none justify-between align-middle my-0 mx-auto;
  }
}

/*************MEDIUM***********************************************************************************/

/******************************************************************************************************/

@media (min-width: 461px) and (max-width: 1107px) {
  .first_section {
    @apply h-screen grid text-center grid-cols-12 grid-rows-6 pt-5 gap-1.5 
    content-center;
  }

  .paylogo {
    @apply col-start-1 col-end-6  pl-2 content-center;
  }

  .paylogo img {
    @apply max-w-none;
  }

  .heading_section {
    @apply col-start-1 col-end-10 pl-7 mx-auto break-words row-start-1 row-end-3 animate-[simplefade_5s];
  }

  .heading_section > h1 {
    @apply text-2xl font-semibold  leading-normal;
  }

  .heading_image {
    @apply col-start-1 mx-auto col-end-[-1] row-start-4 row-end-5 content-center animate-[simplefade_3s];
  }

  .planet_blur {
    @apply col-start-1 col-end-12 row-start-4 row-end-7 bg-[theme(colors[blurColor])]
    blur-[200px];
  }

  /* second section components container   */

  .second_section {
    @apply grid grid-cols-12 grid-rows-6 px-3 my-40 gap-2 h-screen;
  }

  .chain_section {
    @apply col-start-1 col-end-12  row-start-1 row-end-2 mb-8;
  }

  .chain_section > h2 {
    @apply text-3xl font-medium;
  }

  .chain_image {
    @apply col-start-2 col-end-12 content-center row-start-4 row-end-5 transition-all ease-in duration-300;
  }
  .img_blur {
    @apply col-start-1 col-end-12 h-full bg-[theme(colors[blurColor])]
    blur-[300px];
  }

  /* third section components container   */

  .third_section {
    @apply h-screen grid grid-cols-12 mt-32 mx-auto rounded-md grid-rows-[repeat(6,_320px)];
  }

  .third_section_first_content {
    @apply col-start-2 col-end-10 text-center px-3 gap-12 mb-10 row-start-1;
  }

  .third_section_second_content {
    @apply col-start-2 col-end-10 text-center px-3 gap-12 row-start-2;
  }

  .third_section_third_content {
    @apply col-start-2 col-end-10 text-center px-3 gap-12 row-start-3;
  }
  .third_section_img {
    @apply text-center col-start-3 z-0 col-end-12 row-start-4;
  }

  .flower_image_blur {
    @apply h-[300px] col-start-2 col-end-12  bg-[theme(colors[flowerBlur])] blur-[200px]
    row-start-4 row-end-4;
  }

  .overlap_flower {
    @apply grid grid-cols-12 grid-rows-[repeat(6,_2fr)] h-[500px] z-10 my-40 rounded-t-lg col-start-1 col-end-[-1] row-start-4 w-full
    px-0 border-t-2 border-t-slate-700 bg-backgroundTheme;
  }

  .build_paymaster > h2 {
    @apply text-3xl font-semibold;
  }

  .code_snapshot {
    @apply col-start-3 col-end-11  row-start-2 row-end-3  mt-20;
  }

  .code_snapshot img {
    @apply max-w-none;
  }

  .build_blur {
    @apply col-start-2 col-end-5 row-start-2 row-end-3 bg-[theme(colors[blurColor])]
    blur-[200px];
  }

  .build_paymaster {
    @apply col-start-4 col-end-11 mb-10 row-start-3  row-end-5;
  }

  .js_client_section {
    @apply hidden;
  }

  .fourth_section > h4 {
    @apply text-3xl col-start-3 col-end-10 font-medium mb-10 row-start-4 row-end-4;
  }

  .fourth_section {
    @apply px-3 grid mx-auto grid-cols-12 grid-rows-4 pt-10 mt-96;
  }
  .partners_logos {
    @apply w-[300px] my-0 col-start-3 col-end-10 mt-20 mx-auto pt-4 row-start-4 gap-10 
    flex justify-center flex-wrap align-middle;
  }

  /* fifth section components container   */
  .fifth_section {
    @apply h-screen mx-auto grid grid-cols-12 grid-rows-[repeat(4,_2fr)] gap-2 px-2 my-auto;
  }

  .fifth_section .get_started {
    @apply col-start-3 col-end-8 row-start-3 px-3 row-end-3 mt-6 z-20;
  }

  .fifth_section > div > h5 {
    @apply text-2xl font-normal;
  }

  .fifth_section .get_started_image {
    @apply col-start-3 col-end-10 row-start-3 row-end-4;
  }

  .fifth_section .get_started_image img {
    @apply max-w-none w-[400px] h-80;
  }

  .subscribe_section {
    display: none;
  }

  /* footer */
  .bottom > p {
    @apply overflow-hidden col-start-4 col-end-12 row-start-[-1] mb-2 row-end-[-1];
  }
  .bottom ul {
    @apply flex flex-col col-start-5 col-end-8 mb-2 list-none justify-between align-middle my-0 mx-auto;
  }
}

/*************Large***********************************************************************************/

/******************************************************************************************************/

@media (min-width: 1108px) and (max-width: 1500px) {
  .third_section_first_content {
    @apply col-start-1 col-end-4 text-center row-start-2  row-end-3;
  }

  .third_section_second_content {
    @apply col-start-5 col-end-8 text-center row-start-1 row-end-2;
  }

  .third_section_third_content {
    @apply col-start-9 col-end-13 row-start-2  row-end-3 text-center;
  }
}
