/* first section components container   */
.first_section {
  @apply min-h-[65vh] grid grid-cols-12 grid-rows-3 pt-2 mt-16 gap-1.5 
  content-center;
}

.heading_section {
  @apply col-start-1 col-end-7 pl-7 break-words row-start-1 row-end-3 animate-[simplefade_5s];
}

@keyframes simplefade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
    transition: all 0.2s ease-in 0.5s;
  }
  100% {
    opacity: 1;
    transform: scale(1.1);
    transition: all 0.2s ease-in 0.5s;
  }
}
.heading_section > h1 {
  @apply text-5xl font-semibold  leading-normal;
}

.heading_section > button {
  @apply w-40 h-10 rounded-md bg-[theme(colors[secondaryGlow])];
}

.heading_section > p {
  @apply overflow-hidden  text-base font-normal;
}

.heading_image {
  @apply col-start-8 col-end-[-1] row-start-1 row-end-3 content-center animate-[simplefade_3s];
}

.planet_blur {
  @apply col-start-8 col-end-12 row-start-1 row-end-3 bg-[theme(colors[blurColor])]
  blur-[200px];
}

/* second section components container   */

.second_section {
  @apply min-h-[60vh] grid grid-cols-12 gap-5;
}

.chain_section {
  @apply col-start-1 col-end-6 transition-all ease-in duration-300;
}

.chain_section:hover {
  @apply scale-110;
}

.chain_section > h2 {
  @apply text-5xl font-semibold;
}

.chain_image {
  @apply col-start-8 col-end-12 content-center transition-all ease-in duration-300;
}
.img_blur {
  @apply col-start-6 col-end-13 h-full bg-[theme(colors[blurColor])]
  blur-[200px];
}
.chain_image:hover {
  @apply scale-110;
}

.chain_section > p {
  @apply text-base font-normal;
}

/* third section components container   */

.third_section {
  @apply h-screen grid grid-cols-12  grid-rows-6;
}

.third_section_first_content {
  @apply col-start-1 col-end-4 text-center row-start-3 row-end-4;
}

.third_section_second_content {
  @apply col-start-5 col-end-8 text-center row-start-1 row-end-2;
}

.third_section_third_content {
  @apply col-start-9 col-end-13 row-start-3 row-end-4 text-center;
}

.third_section_first_content span {
  @apply w-full flex justify-center;
}

.third_section_second_content span {
  @apply w-full flex justify-center;
}

.third_section_third_content span {
  @apply w-full flex justify-center;
}

.third_section_img {
  @apply col-start-5 col-end-8 row-start-4 row-end-5 text-center;
}

.flower_image_blur {
  @apply h-[300px] col-start-3 col-end-10 bg-[theme(colors[flowerBlur])] blur-[200px]
  row-start-2 row-end-6;
}

.overlap_flower {
  @apply grid grid-cols-12 grid-rows-6 h-[500px]  col-start-1 col-end-[-1] row-start-5 w-full
  px-0 border-t-[.8px] border-t-slate-700 bg-backgroundTheme;
}

.build_paymaster > h2 {
  @apply text-5xl font-semibold;
}

.code_snapshot {
  @apply col-start-3 col-end-8 row-start-3 row-end-5;
}

.build_blur {
  @apply col-start-2 col-end-3 row-start-2 row-end-5 bg-[theme(colors[blurColor])]
  blur-[200px];
}

.build_paymaster {
  @apply col-start-7 col-end-12 row-start-3 row-end-5;
}
/* js client section   */

.js_client_section {
  @apply my-32 grid grid-cols-[12] grid-rows-4  gap-6;
}
.clients_content {
  @apply row-start-3 flex justify-center px-3;
}

.js_client_section .clients_content > div > h5 {
  @apply text-xl font-medium my-2;
}

.prog-langs {
  @apply row-start-4 grid-cols-12;
}

.prog-langs > h5 {
  @apply text-xl font-medium;
}
.prog-langs .sub-prog-langs {
  @apply flex flex-wrap justify-start pt-4 gap-1;
}

/* fourth section components container   */

.partners_logos {
  @apply w-[500px] my-0 mx-auto pt-4 gap-10 flex justify-center flex-wrap align-middle;
}

.fourth_section > h4 {
  @apply text-4xl font-bold mb-4;
}

/* fifth section components container   */
.fifth_section {
  @apply grid grid-cols-12 grid-rows-3 gap-4 mx-0 my-auto;
}

.fifth_section .get_started {
  @apply col-start-7 col-end-10 row-start-2 row-end-3 mt-6 z-20;
}

.get_started > button {
  @apply bg-backgroundTheme;
}

.fifth_section > div > h5 {
  @apply text-2xl font-medium;
}

.fifth_section .get_started_image {
  @apply col-start-3 col-end-11 row-start-2 row-end-4 z-0;
}

.subscribe_section {
  @apply grid grid-cols-12 grid-rows-4 px-4 gap-2;
}

.subscribe_logo {
  @apply col-start-1 row-start-4 row-end-4 col-end-4;
}

.subscribe_section p {
  @apply col-start-9 row-start-3 col-end-[13];
}

.subscribe_section form {
  @apply col-start-9 col-end-[13] row-start-4 row-end-4;
}
.subscribe_section input {
  @apply w-60  bottom-0 h-11 bg-black rounded-md text-sm;
}
.subscribe_section button {
  @apply h-11;
}

/* footer */

.bottom {
  @apply grid grid-cols-12 grid-rows-4 break-words px-4 overflow-hidden;
}

.bottom hr {
  @apply border border-jsClientDark col-start-1 col-end-13 row-start-2 row-end-2;
}

.bottom > p {
  @apply overflow-hidden col-start-1 col-end-5 row-start-3 row-end-4;
}
.bottom ul {
  @apply grid col-start-7 col-end-13 row-start-3 row-end-4 mb-5 grid-cols-[1fr_1fr_1fr_2fr_1fr_1fr] gap-1 list-none;
}

.bottom ul > li {
  @apply inline;
}
