/* page content width  */
.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0.9rem;
}
/* navbar   */
.paynav {
  display: grid;
  margin-top: 2.2rem;
  grid-template-columns: repeat(12, 2fr);
}

.paylogo {
  grid-column: 1/4;
}

.paynav > ul {
  grid-column: 9/12;
  display: grid;
  grid-template-columns: 4rem 6.5rem;
  list-style-type: none;
  font-size: 0.8rem;
  font-weight: 500;
}

.paynav > ul > li {
  display: inline;
}
