@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: "Montserrat";

  --background-theme: #11142b;

  --primary-glow: #7d0cc1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

html,
body {
  max-width: 100vw;
  margin: 0 auto;
  overflow-x: hidden;
  color: #ffffff;
  font-family: var(--font-mono);
  background: var(--background-theme);
  /* background-image: radial-gradient(to right, #11142b,#11142b,#11142b, #1a1e52, #292370, #292370, #3f258d, #7D0CC1, #11142b); */
  background-image: linear-gradient(
    to right,
    #11142b,
    #11142b,
    #11142b,
    #11142b,
    #11142b,
    #131838,
    #161b45,
    #1a1e52,
    #292370,
    #3f258d,
    #5c20a8,
    #7d0cc1
  );
}

a {
  text-decoration: none;
}
