.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: .5rem;
 
 }
 
 .paynav {
   display: grid;
   margin-top: 2.2rem;
   grid-template-columns: repeat(12, 2fr);
 }
 
 .paylogo {
  grid-column: 1/8;
 }
  
.paynav > ul {
   grid-column: 9/12;
   display: grid;
   grid-template-columns: 1fr 1fr;
   list-style-type: none;
   font-size: .8rem; 
   font-weight: 500; 
 }

 .paynav > ul > li {
  display: inline;
 }
/* Div sections styles  */ 
 .first_section {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(12, 2fr);
  gap: 1.2rem;
 }

 .heading_section {
  grid-column: 1/6;
 }
 .heading_section > h1 {
  font-size: 3rem;
  font-weight: 600;
 }

 .chain_section {
  grid-column: 1/6;
 }

 .chain_section > h2 {
  font-size: 3rem;
  font-weight: 600;
 }

 .heading_section > p {
  font-size: 1rem;
  font-weight: 400;
 }

 .chain_section > p {
  font-size: 1rem;
  font-weight: 400;
 }

 .heading_image {
  grid-column: 7/12;
  margin: 0 auto
 }

 .chain_image {
  grid-column: 7/12;
  margin: 0 auto;
  border: none;
 }
  
 .second_section {
   margin-top: 10rem;
   display: grid;
   grid-template-columns: repeat(12, 2fr);
   gap: 1.2rem;
 }

 
 
 
 /* @media (prefers-color-scheme: dark) {
   html {
     color-scheme: dark;
   }
 }
  */